.col-lg-6 img
{
	border: 0.8em solid #f4f4f4;
}
button:hover
{
	color: #e7621f;
}
body
{
	background: url("http://10.90.90.55/Tasks/html_challenge1/assets/images/bg.jpg");
}
.nav li a:hover
{
	background-color:lightgrey!important;
	color: #e7621f!important;
}
input:hover
{
	border-color: #e7621f;
}
.col-lg-4 .well p:hover
{
	background-color: lightgrey;
}
.logo:hover
{
	opacity: 0.5;
}
.col-lg-4 .well
{
	border: solid 4px;
	border-color: lightgrey;
	border-radius: 0px;
	height: 315px;
}
h3
{
	border-bottom:solid 1px;
	font-weight: bold;
}
 .col-lg-5 .panel-body:hover
 {
 	opacity: 0.5;
 }
 h1 .dotted
 {
 	border-bottom-style: dotted;
 	font-weight: bold;
 }
 .col-lg-6 img:hover
 {
 transform: rotate(-3deg);
 width: 510px;
 height: 370px;
 z-index: 1;	
 }
 .row
 {
 	margin-top: 20px;
 }
 .col-lg-5 .panel-body img
 {
 	padding-right: 10px;
 }
 .margin
 {
 	border-radius: 30%;
 	margin-left: 200px;
 	font-weight: bold;
 	background-color:#bcbab9;
 }
 .radius
 {
 	width: 200px;
	height: 70px;
	border-radius: 20px 0px;
	margin-right: 30px;
	font-weight: bold;
	background-color: #e1dfde;
	margin-left: 50px;
 }
 .radius:hover
 {
 	color: #e7621f;
 	background-color:  #cfcccb ;
 }
 .margin:hover
 {
 	color: #e7621f;
 }
 .badge {
  font-size: 50px;
  color: #e7621f;
  background-color: transparent;
  margin-bottom: 20px;
  }
  .col-lg-4 .well p
  {
  	font-weight: bold;
  }
  .well-lg
  {
  	background-color:#d8d6d6;
  }
  .navbar-nav
  {
  	float:none;
  }
  .nav li
  {
  	display: inline-block;
  	min-width: 150px;
  	text-align: center;
  	font-weight: bold;	
  }
  .dotted ul li
  {
  	display: inline-block;
  	font-weight: bold;
  	font-size: 35px;
  }
  .dotted ul .right
  {
  	float: right;
  	color: #e7621f;
  	font-size: 42px;
  }
  .dotted ul .dot
  {
  	border-bottom:dotted;
  }
  @media (max-width: 320px) 
  {
  	#pic
  	{
  		width:100%;
 		height:100%;
 		margin-left: 3px!important;
  	}
  	.middle
  	{
  		text-align: center;
  	}
  	.well .btn
  	{
  		margin-left:40px!important;	
  	}
  }
  @media (max-width: 360px) 
  {
  	#pic
  	{
  		width:100%;
 		height:100%;
 		margin-left:3px!important;
  	}
  	.middle
  	{
  		text-align: center;
  	}
  	.well .btn
  	{
  		margin-left: 160px!important;	
  	}
  	
  }
  @media (max-width: 768px) 
  {
  	.middle
  	{
  		text-align: center;
  	}
  	#pic
  	{
  		margin-left: 100px;
  	}
  	.radius
  	{
  		margin-left: 90px;
  	}
  }
  @media (max-width: 800px) 
  {
  	#pic
  	{
  		margin-left: 100px;
  	}
  	.radius
  	{
  		margin-left: 90px;
  	}
  	.middle
  	{
  		text-align: center;
  	}
  }
  @media (max-width: 980px) 
  {
  	#pic
  	{
  		margin-left: 100px;
  	}
  	.radius
  	{
  		margin-left: 90px;
  	}
  	.middle
  	{
  		text-align: center;
  	}
  }