@font-face 
{
	font-family: "myFont";
	src: url('../fonts/MarketingScript.ttf') format('truetype');
}
@font-face 
{
	font-family: "myFont1";
	src: url('../fonts/HIGHERUP.TTF') format('truetype');
}
body
{
	background: url("http://10.90.90.55/Tasks/html_challenge1/assets/images/bg.jpg");
}
.navbar-nav
{
	float:none;
}
.nav li
{
	display: inline-block;
	min-width: 150px;
	text-align: center;
	font-weight: bold;	
	float: none;
}
.nav li a:hover
{
	background-color:lightgrey!important;
	color: #e7621f!important;
	padding:7px!important;
	border-radius: 5px;
}
.col-lg-6 #pic
{
	border: 0.8em solid #f4f4f4;
	width: 100%;
	margin-left: 0px;
}
.col-lg-6 #pic:hover
{
	 transform: rotate(-3deg);
	 width: 570px;
	 height: 395px;
	 z-index: 1;	
}
button:hover
{
	color: #e7621f;
}
input:hover
{
	border-color: #e7621f;
}
.col-lg-4 .well
{
	border: solid 4px;
	border-color: lightgrey;
	height: 315px;
}
.col-lg-4 .well p:hover
{
	background-color: lightgrey;
}
.logo:hover
{
	opacity: 0.5;
}

h3
{
	font-family: "myFont";
	margin-top: 5px;
}
.col-lg-5 .panel-body:hover
{
	opacity: 1!important;
}
.row
{
	margin-top: 20px;
}
.col-lg-5 .panel-body img
{
	padding-right: 10px;
}
.margin
{
	border-radius: 20px!important;
	margin-left: 200px;
	font-weight: bold;
	background-color:#bcbab9;
	font-family: "myFont1";
	padding: 5px 20px 5px 20px;
}
.margin:hover
{
	color: #e7621f;
}
.radius
{
	width: 200px;
	height: 70px;
	border-radius: 20px 0px;
	margin-right: 30px;
	font-weight: bold;
	background-color: #e1dfde;
	margin-left: 50px;
	font-family: "myFont1";
}
.radius:hover
{
	color: #e7621f;
	background-color:  #cfcccb ;
}

.badge 
{

	font-size: 50px;
	color: #e7621f;
	background-color: transparent;
	margin-bottom: 20px;
}
.col-lg-4 .well p
{
	font-weight: bold;
	font-size: 12px;
}
.well-lg
{
	background-color:#d8d6d6;
}
.dotted ul li
{
	display: inline-block;
	font-weight: bold;
	font-size: 40px;
	font-family: "myFont1";
}
.dotted ul .right
{
	float: right;
	color: #e7621f;
	font-size: 42px;
}
.col-lg-6 .dotted #values
{
	padding-left: 300px;
	font-size: 50px;
	color: #e7621f;
}
.col-lg-6 .dotted #value1
{
	padding-left: 240px;
	font-size: 50px;
	color: #e7621f;
}
.col-lg-6 .dotted #value2
{
	padding-left: 200px;
	font-size: 50px;
	color: #e7621f;
}
.panel-body 
{
    padding: 0px;
}
.latest p span a
{
	color:inherit;
	text-decoration:underline; 
}
.container
{
	opacity: 0.7;
}
.breadcrumb 
{
  background-color: transparent;
}
.breadcrumb li + li:before 
{
  color: black;
  content: "|\00a0";
}
.breadcrumb li a
{
	color: black;
	font-weight: bold;
	text-decoration:none;
}
  
@media (max-width: 320px) 
  {
  	.col-lg-6 #pic:hover
  	{
  		width: 105%;
  		height: 105%;
  	}
  	.dotted .dot
  	{
  		font-size: 20px!important;
  	}
  	.margin
  	{
  		margin-left: 150px;
  	}
  	.col-xs-12 .latest p
  	{
  		font-size: 10px;
  	}
  	.col-lg-6 .dotted #value1
  	{
  		padding-left: 50px!important;
  	}
  }
@media (max-width:360px) 
  {
  	.col-lg-6 #pic:hover
  	{
  		width: 105%;
  		height: 105%;
  	}
  	.dotted li
  	{
  		font-size: 23px!important;
  	}
  }
@media (min-width: 768px) 
  {
  	.col-lg-6 #pic:hover
  	{
  		width: 103%;
  		height: 103%;
  	}
  	.middle .col-md-4 
  	{
  		width: 33%;
  	}
  }
  